In [1]:
import numpy as np
import pandas as pd

In [5]:
data=pd.read_csv(r"C:\Users\Raj\Desktop\NF Dataset\Machine-Learning\combined_data_1.txt",names = ['Cust_Id', 'Rating'])

In [6]:
data.head(7)

   Cust_Id  Rating
0       1:     NaN
1  1488844     3.0
2   822109     5.0
3   885013     4.0
4    30878     4.0
5   823519     3.0
6   893988     3.0